
/* https://devdevout.com/css/css-cards credit for cards */
/*Global styles for Home, Contact, Navbar ... */

/*---------------------------------------
              Navbar              
-----------------------------------------*/
.sk-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  /*background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
  z-index: 1000;
}

.sk-logoContainer img {
  height: 50px;
}

.sk-navbar-links {
  display: flex;
  flex-direction: row; 
  align-items: center;
  transition: transform 0.3s ease;
}

.sk-nav-link {
  /*color: #000;*/
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

.sk-nav-link:hover {
  text-decoration: underline;
}

.sk-menu-icon {
  display: none; 
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  /*border: 1px solid #000;*/
}

.sk-icon_nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 3px;
  /*background-color: #000;*/
  transition: transform 0.3s ease-out;
}

.sk-icon_nav::before,
.sk-icon_nav::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  /*background-color: #000;*/
  transition: transform 0.3s ease-out;
}

.sk-icon_nav::before {
  transform: translateY(-8px);
}

.sk-icon_nav::after {
  transform: translateY(8px);
}

.sk-icon_nav.open::before {
  transform: rotate(45deg) translateY(-5px) translateX(-2px);
  opacity: 0;
}

.sk-icon_nav.open::after {
  transform: rotate(-45deg) translateY(5px) translateX(-2px);
  opacity: 0;
}

.sk-profileContainer {
    position: relative;
  }
  
.sk-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.sk-initialsCircle {
    width: 35px;
    height: 35px;
    /*background-color: #026973;*/
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
}
  
.sk-profileName {
    font-size: 16px;
    /*color: black;*/
}
  
.sk-dropdownMenu {
    position: absolute;
    margin-top: 17px;
    right: 0;
    /*background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
    width: 150px;
    border-radius: 4px;
    padding: 10px 0;
    z-index: 1000;
}
  
.sk-dropdownMenu a {
    display: block;
    padding: 10px 20px;
    /*color: #000;*/
    text-decoration: none;
    transition: background-color 0.2s;
}
  
  /*.sk-dropdownMenu a:hover {
    background-color: #e1dcdc;
}*/

/* Adjustments for small screens */
@media (max-width: 768px) {
  .sk-navbar-links {
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    /*background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    flex-direction: column; 
    display: none; 
  }

  .sk-navbar-links.open {
    display: flex; 
  }

  .sk-menu-icon {
    display: block; 
  }

  .sk-navbar-links {
    flex-direction: column; 
  }
  .sk-nav-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 458px) {
    .sk-logoContainer img {
      height: 40px;
    }
  
    .sk-dropdownMenu {
      width: 100%;
    }
  }


/*---------------------------------------
              Home / Contact              
-----------------------------------------*/
  .sk-main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .home-header {
    margin-top: 70px; 
    background-image: url('../images/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
  }
  
  .sk-header-private {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    padding-top: 90px;
    padding-bottom: 10px;
  }

  .sk-title-header{
    font-weight: bold;
    text-align: center;
  }
  
  .site-header-private .container {
    height: 100%;
  }
  .home-section {
    padding: 20px;
    height: 100vh;
    justify-content: center;
    text-align: center;
    flex: 1;
  }
  
  .sk-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .sk-gift-section {
    display: grid;
    place-items: center;
  }

  figure {
    width: 500px;
    aspect-ratio: 8 / 5;
    --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
    --accent: hsl(280 80% 40%);
    transition: background 0.2s;
    background:
      radial-gradient(circle at top left, var(--accent), transparent 75%),
      var(--bg);
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
  }
  
  figure:after {
    content: "";
    position: absolute;
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 0%;
    left: 10%;
    background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
    filter: blur(25px);
    transform:
      translateX(calc(var(--hover) * 15%))
      scale(calc(1 + (var(--hover) * 0.2)));
    transition: transform 0.2s, background 0.2s;
  }
  
  .gift-img {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 40%;
    transform:
      translateX(calc(var(--hover) * -15%))
      scale(calc(1 + (var(--hover) * 0.2)));
    transition: transform 0.2s;
  }
  
  article {
    --hover: 0;
  }
  
  article:hover {
    --hover: 1;
  }
  
  .sk-home-container .sk-home-card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  .sk-home-container .sk-home-card:nth-child(1) .sk-home-box .sk-home-content a {
    background: #2196f3;
  }
  
  .sk-home-container .sk-home-card:nth-child(2) .sk-home-box .sk-home-content a {
    background: #e91e63;
  }
  
  .sk-home-container .sk-home-card:nth-child(3) .sk-home-box .sk-home-content a {
    background: #23c186;
  }
  
  .sk-home-container .sk-home-card .sk-home-box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(70, 220, 202, 0.35);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .sk-home-container .sk-home-card .sk-home-box:hover {
    transform: translateY(-50px);
  }
  
  .sk-home-container .sk-home-card .sk-home-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(41, 141, 131, 0.35);
  }
  
  .sk-home-container .sk-home-card .sk-home-box .sk-home-content {
    padding: 20px;
    text-align: center;
  }
  
  .sk-home-container .sk-home-card .sk-home-box .sk-home-content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(62, 61, 61, 0.4);
  }
  
  .sk-home-container .sk-home-card .sk-home-box .sk-home-content h3 {
    font-size: 1.8rem;
    color: #000;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  .sk-home-container .sk-home-card .sk-home-box .sk-home-content p {
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    font-weight: 600;
    z-index: 1;
    transition: 0.5s;
  }
  
  .sk-home-container .sk-home-card .sk-home-box .sk-home-content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .sk-home-container .sk-home-card .sk-home-box .sk-home-content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }

  .sk-custom-form .sk-form-control {
    border-radius: 100px;
    color:  #717275;
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    outline: none;
  }

  .sk-btn_submit {
    border: none;
    border-radius: 100px;
    color: #fff;
    background-color: #026973;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  .sk-btn_submit:hover {
    background-color: #42b1bb;
    border-color: transparent;
  }

  .sk-form-floating>label {
    padding-left: 20px;
  }
  .name_email {
    width: 100%;
  }
  .sk-subject{
    width: 100%;
  }

  .sk-contact-form .sk-form-floating>textarea {
    border-radius: 20px;
    height: 150px;
    width: 100%;
  }

  .sk-google-map {
    border-radius: 20px;
  }
  

  @media (min-width: 768px) {
    .home-header {
      background-image: url('../images/SKEMAPOLIS-IA-2023-Panoramique-scaled.jpg'); 
      
    }
  }

  /*---------------------------------------
              Footer              
-----------------------------------------*/
.home-section.with-footer {
  padding-bottom: 60px; 
}

.home-footer {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 900;
}

.home-footer::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 80%; 
  transform: translateX(-50%);
  border-top: 1px solid #006b7948;
}

/* Footer.css */
.sk-footer {
/*background-color: #f1ece1;*/
padding: 20px;
text-align: center;
}

.sk-footer-top {
margin-bottom: 20px;
}

.sk-footer-section h1 {
font-family: "Raleway-Bold" !important;
font-weight: bold;
color: #e5524e;
font-size: 17px;
}

.sk-footer-section p{
  font-size: 13px;
}

.sk-footer-middle {
margin: 10px 0;
}

.sk-footer-bottom {
border-top: 1px solid #ccc;
padding-top: 10px;
}

.sk-footer-links {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 10px;
}

.sk-footer-links a,p {
text-decoration: none;
color: #000;
font-size: 13px;
}

.sk-footer-logos {
display: flex;
justify-content: center; 
flex-wrap: wrap; 
gap: 10px;  
}

.sk-footer-logos img {
flex: 0 1 auto; /* Les logos peuvent rétrécir mais ne pas grandir */
max-height: 40px; /* Hauteur maximale pour les logos */
margin: 5px; /* Ajoute un petit espace autour des logos */
}

.btn-subscription {
margin-top: 15px!important;
margin-bottom: 20px!important;
text-transform: uppercase;
background-color: transparent;
text-align: center;
font-family: Raleway-Bold;
font-size: 15px;
border: solid 2px #000;
display: block;
margin: auto;
padding: 5px 8px;
line-height: 32px;
}

.btn-subscription:hover {
background-color: #252525;
color: white !important;
cursor: pointer;
}
@media (min-width: 768px) {
.footer-logos img {
  max-height: 70px; 
}
}



  
